# this is the dir we use to persist the Galaxy instance
# across docker restarts
config

# don't check in any planemo test results
**/tool_test_output*

# if you run planemo you end up with lots of cache
# folders being generated that we don't want to commit
__pycache__
